// Global 

$font-family-base: Montserrat, sans-serif;
.playfair-font {
  font-family: "Playfair Display", serif;
}
.max-width-body {
  max-width: 1920px;
  margin: 0 auto;
}



.main-nav a {
  position: relative;
}
.main-nav a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background:$beige !important;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}
.main-nav a:hover::after {
  transform: scaleX(1);
}




.moi {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  opacity: 0.2; 
}


.bg-dark-1 video {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.bg-dark-1 {
  position: relative; 
}


 .btn-adapte  {
  background-color: $dark-1 !important;
  color: $beige !important;
  
}
